.BookTable_wrapper{
    flex-direction: row !important;
    background-color: #3b362e;
    color: #fff;
    /* margin: 50px 10px; */
    margin-bottom: 70px;
    margin-top: 70px;
}
.Testimonial{
    width: 50%;
    margin: -120px 0 !important;
    display: flex;
    justify-content: end;
    align-items: end;
    background: url(./../../assets/taxi.webp);
    background-size: cover;
    /* opacity: 0.8; */
    background-position: center;
    overflow: hidden;
    padding: 35px;
}
.Testimonial_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 15px;
    background-color: rgba(131, 131, 131, 0.2);
    padding: 20px;
    backdrop-filter: blur(8px);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}
.Testimonial_wrapper p{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 24px;

}
.Profile{
    display: flex;
    gap: 16px;
}
.Profile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 12px
}
.Profile h2{
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}
.Profile h2 span{
    display: block;
    font-weight: 300;
    font-size: 18px;
    margin-top: 6px;
}
.bookTable_Container{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #fff;
}
.bookTable_Container small{
    color: #9b804e;
    font-size: 22px;
}
.bookTable_Container h2{
    /* color: #fff; */
    font-size: 52px;
    font-weight: 500;
}
.Cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.Card{
    padding: 30px 30px;
    background-color: #83693f;
    display: flex;
    gap: 20px;
    align-items: center;
    outline: 1px dashed #fff;
    outline-offset: -10px;
}
/* .Card img{
    width: 160px;
    height: 80px;
} */
.card_content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

}
.card_content h3{
    font-size: 19px;
    font-weight: 500;

}
.card_content p{
    font-size: 16px;
    font-weight: 300;


}
.card_content a{
    font-size: 16px;
    color: #fff;
    /* margin: 12px 0; */
}
@media screen and (max-width:1200px) {
     .Card{
        flex-direction: column;
        align-items: flex-start;
    }
    .card_content{
        width: 100%;
    } 
}
@media screen and (max-width:900px){
    .BookTable_wrapper{
    flex-direction: column !important;
}
.bookTable_Container{
    width: 100%;
    margin-top: 140px;
}
.Testimonial{
    width: 100%;
}

}