
/* @import url('https://fonts.googleapis.com/css2?family=Forum&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* font-family: Forum; */
  scroll-behavior: smooth;
} 
button{
  height: 42px;
  width: 135px;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 3px rgba(96, 96, 96, 0.2);
  position: relative;
  background: #c58b1a;
  overflow: hidden;
  color: #fff;
  outline: 1px dashed #ddd;
  outline-offset: -6px;
  cursor: pointer;
  transition: .6s;
}
button::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: -155%;
  left: -20%;
 
  opacity: 0.1;
}
button:hover{
  /* font-size: 20px; */
  transform: scale(0.95);

}
button:hover:after{
 animation: rotate 5s infinite linear;

}
button:active{
  transform: scale(0.7);
}

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
.section{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 12%;
}
.section_heading{
  color: #c58b1a;
  font-size:33px ;
  font-weight: 500;
}
